/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

@import url("/fonts/Iliad/iliad.css");



body {
    margin: 0;
    text-align: center;
}

.hero {
    background: 
      linear-gradient(180deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.40) 50%, rgba(0, 0, 0, 0.80) 100%),
      url("https://images.freeimages.com/images/large-previews/091/anshun-bridge-at-night-chengdu-china-1639680.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px 20px;

    width: 100%;
    height: 660px;
}

.hero { position: relative; z-index: 0; }
.hero::before { z-index: 0; }         /* if you have it */
.hero > * { position: relative; z-index: 1; }


#hero-text {
    display: flexbox;
    flex-direction: column;
    text-align: center;
    color: white;
    max-width: 900px;
    margin: 0 auto;
}

img {
    width: 100px;
}

h1 {
    font-family: "Figtree", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin: 24px 0;
}

h2 {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}

h3 {
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
}

h4 {
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
}

p {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
}



.activities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E7E5E4 !important;
    width: 100%;
    height: 800px;

    
}

.activity-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1200px;
    height: auto;
    padding: 32px;
}

.activity {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 280px;
    gap: 16px;
    margin-top:32px;
}


.activity-img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    flex-shrink: 0;
    box-shadow: white 0px 4px 16px;
    margin-bottom: 24px;
}


.activity-title {
    min-height: 3.5rem;        /* fixe la hauteur pour aligner les <h4> */
    display: flex;
    align-items: flex-start;   /* aligne le texte en haut */
}

.guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: linear-gradient(180deg, #E7E5E4 0%, #9EBA79 100%);
    height: 294px;
    padding: 0px 0px 80px 0px;
    
}

.introduction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    width: 700px;
    background-color: #E7E5E4;
    padding-right: 64px;
    border-radius: 24px;
    background: linear-gradient(90deg, #688758 0%, #688757 12.13%, #678656 21.97%, #678555 29.85%, #668453 36.14%, #658251 41.18%, #64814F 45.32%, #637F4D 48.92%, #627E4B 52.31%, #617C48 55.86%, #5F7A46 59.92%, #5E7843 64.82%, #5D7741 70.94%, #5C753E 78.6%, #5B733C 88.17%, #5A723A 100%);
}   

#introduction-img {
     width: 360px;
     height: 360px;
     padding-right: 64px;
     border-radius: 24px;
}

#introduction-title {
    margin-bottom: 16px;
    color: #CAE3BB;
}

#introduction-p {
    color: #E2E2E2;
    text-align: left;
}

#introduction-signiture {
    color: #E2E2E2;
    text-align: right;
    font-style: italic;
}